.metadata/
RemoteSystemsTempFiles/
K64F_HX711/Debug
K64F_HX711/Documentation
K64F_HX711/Generated_Code
K64F_HX711/*.g_c
K64F_HX711/*.g_x
K64F_HX711/Project_Settings/Components_DEBUG
K64F_HX711/.cwGeneratedFileSetLog
K64F_HX711/.settings
K64F_HX711/ProjectInfo.xml
